html{
  font-family: 'Lato', sans-serif;
}

.header-text{
  /* font-family: 'Lato', sans-serif; */
  text-align: center;
  margin: 20px;
  color: #6b705c;
}

.recipe-wrapper{
  /* font-family: 'Lato', sans-serif; */
  display: flex;
  justify-content: center;
  background: #DDBEA9;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.recipe-boxes{
  width: 32%;
  display: relative;
  padding-top: 30px;
  text-align: center;
}

.recipe-img{
  position: relative;
  max-width: 85%;
  max-height: 85%;
  border-radius: 25px;
}

.recipe-img:hover{
  cursor:pointer;
}

.recipe-link{
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.recipe-link:hover{
  color: #b7b7a4;
}

.grocery-list{
  display: none;
  color: #6b705c;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}

.footer{
  /* font-family: 'Lato', sans-serif; */
  position: relative;
  text-align: center;
}

.footer-button{
  color: black;
  border: none;
  background: #FFE8D6;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.footer-link{
  color: black;
  text-decoration: none;
}

.footer-link:hover{
  color: #b7b7a4;
}
