/* Entire document */
html{
  font-family: 'Lato', sans-serif;
}

/* Header */
.header-text{
  text-align: center;
  margin: 20px;
  color: #6b705c;
}

.grocery-list-button{
  text-align: right;
  display: none;
  color: black;
  border: none;
  background: #FFE8D6;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

/* Recipes */
.recipe-wrapper{
  /* font-family: 'Lato', sans-serif; */
  display: flex;
  justify-content: center;
  background: #DDBEA9;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.recipe-table-layout{
  table-layout: fixed;
  width: 90%;
  height: 90%;
  text-align: center;
  border-spacing: 20px;
}

.recipe-header{
  font-size: 16pt;
  border-spacing: 10px;
}

.grocery-status{
  font-size: 10pt;
  font-style: italic;
}

.recipe-img{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
}

.recipe-button{
    color: black;
    border: none;
    background: #FFE8D6;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.recipe-button:hover{
  color: #b7b7a4;
  cursor:pointer;
}

.recipe-button:click{
  color:
}

.recipe-link{
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.recipe-link:hover{
  color: #b7b7a4;
}

/* Grocery list */
.grocery-list{
  display: none;
  color: #6b705c;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}

.list-space{
  height: 15px;
}

.grocery-list-item{
  padding-inline-start: 15px;
  margin: 10px;
}

/* Footer */
.footer{
  position: relative;
  text-align: center;
}

.footer-button{
  color: black;
  border: none;
  background: #FFE8D6;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.footer-link{
  color: black;
  text-decoration: none;
}

.footer-link:hover{
  color: #b7b7a4;
}
